

@section scripts
    {
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
}




@using (Html.BeginForm("Add_new_ad", "Home"))
{

    <div>
        @Html.Label("Хедер", new { })
        <p> @Html.Editor("Header", new { })</p>
        @Html.Label("Под Хедер", new { })
        <p> @Html.Editor("Under_header", new { })</p>
        @Html.Label("Цена", new { })
        <p> @Html.Editor("Price", new { })</p>
        @Html.Label("Номер телефона", new { })
        <p> @Html.Editor("Phone_number", new { })</p>
        @Html.Label("Имя", new { })
        <p> @Html.Editor("Name", new { })</p>
        @Html.Label("Адрес", new { })
        <p> @Html.Editor("Place", new { })</p>
        @Html.Label("Описание", new { })
        <p> @Html.Editor("Description", new { })</p>
        @Html.Label("ссылки на картинки", new { })
        <p> @Html.Editor("Images", new { })</p>

        @Html.Label("Платные услуги", new { })
        @Html.RadioButton("VIP", "VIP", new { })

        @if (ViewBag.category == "Квартиры")
        {
            @Html.Label("Квартиры", new {  })
            @Html.Label("ТИп жилья", new { })
            <p>@Html.DropDownList("Type_of_apartment", new SelectList(new string[3] { "Жилая недвижимость", "Коммерческая недвижимость", "Загородная недвижимость" }), new { })</p>
            @Html.Label("Тип объявления", new { })
            <p>@Html.DropDownList("Type_ad", new SelectList(new string[2] { "Продажа", "Аренда" }), new {  })</p>
            @Html.Label("Ссылка на крату", new { })
            <p> @Html.Editor("Map", new { })</p>
            

            
            @Html.Label("Инфо1", new { })
            <p> @Html.Editor("Info1", new { })</p>
            @Html.Label("Инф2", new { })
            <p> @Html.Editor("Info2", new { })</p>
            @Html.Label("Инфо3", new { })
            <p> @Html.Editor("Info3", new { })</p>



            
        }

        <input type="submit" value="Создать" class="Extended_search_ajax_1_button_inp" />
    </div>

}