@model irr.Models.list_ad_View
@section scripts
    {
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    }

@foreach (var i in Model.list)
{
    <div class="list_ad_ajax_1_block_one_ad">
        
       
        <div class="list_ad_ajax_1_img">
            <a href='@Url.Action("Show_one_ad", "Home",new { id = i.Id })'><img src="@i.Images[0]" /></a>
            
        </div>
        <div class="list_ad_ajax_1_block_info_1_ad">
            @Html.ActionLink(@i.Header, "Show_one_ad", "Home", new { id = i.Id }, new { @class = "link_standart_for_div" })
            <p>@i.Price</p>
        </div>
    </div>
}

<div class="list_ad_ajax_1_link_block">
    @foreach (var i in Model.str)
    {
        

        <div class="ajaxLink">
            @Ajax.ActionLink(i.ToString(), "list_ad_ajax_1", "Home",
new { srch=new irr.Models.Search(Model.srch) { pg = i } },
    new AjaxOptions
    {
        UpdateTargetId = "form_for_ajax_1"

    },new {@class= "link_standart_for_div" })
        </div>
    }


</div>
<div class="list_ad_ajax_1_down">
    <p> </p>
</div>





    
