@model irr.Models.list_ad_View
@section scripts
    {
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
}
@{
    
    ViewBag.Title = "list_ad";

}

<div>
    <div>
        @Html.Action("Main_header", "Home")
    </div>
    <div id="list_ad_form_for_ajax_2">
    @Html.Action("Extended_search_ajax_2", "Home",new { category=Model.srch.category })
    </div>
    
    <div  class="list_ad_body">
        <div id="form_for_ajax_1">
            @Html.Action("list_ad_ajax_1", "Home", new { search = Model.srch.ToString()  })

        </div>
        

    </div>
</div>