
<script>
    var t;
    function up() {
        var top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        if (top > 0) {
            window.scrollBy(0, -100);
            t = setTimeout('up()', 20);
        } else clearTimeout(t);
        return false;
    }


    function isVisible(tag) {
        var t = $(tag);
        var w = $(window);
        var wt = w.scrollTop();
        var tt = t.offset().top;
        var tb = tt + t.height();
        return (tb <= wt) ;
    }

    $(function () {
        $(window).scroll(function () {
            var b = $(".main_header_div_lvl_1");
            if (!b.prop("shown") && isVisible(b)) {
                b.prop("shown", true);
                var o = document.getElementById("main_header_small_id")
                var o1 = document.getElementById("main_header_up_id")
                o1.style.display = 'block';
                o.style.display = 'block';

            }
            else {
                if (b.prop("shown") && !isVisible(b)) {
                    b.prop("shown", false);
                    var o = document.getElementById("main_header_small_id")
                    var o1 = document.getElementById("main_header_up_id")
                    o1.style.display = 'none';
                    o.style.display = 'none';
                }
            }
        });
    });

    /*
    function isVisible(tag) {
        var t = $(tag);
        var w = $(window);
        var wt = w.scrollTop();
        var tt = t.offset().top;
        var tb = tt + t.height();
        return (tb <= wt) ;
    }

    $(function () {
        $(window).scroll(function () {
            var b = $(".main_header_div_lvl_1");
            if (!b.prop("shown") && isVisible(b)) {
                b.prop("shown", true);
                alert("послать сигнал");
            }
        });
    });
    */

   /* function isVisible(tag) {
        var t = $(tag);
        var w = $(window);
        var wt = w.scrollTop();
        var tt = t.offset().top;
        var tb = tt + t.height();
        return ((tb <= wt + w.height()) && (tt >= wt));
    }

    $(function () {
        $(window).scroll(function () {
            var b = $(".Show_one_ad_block_name");
            if (!b.prop("shown") && isVisible(b)) {
                b.prop("shown", true);
                alert("послать сигнал");
            }
        });
    });*/
</script>
@{ 
    List<string> town = new List<string>() {"Вся Россия","Москва","Петербург","Пермь","Воронеж","Казань","Сочи","Саратов" };


    List<string> category = new List<string>() { "Все типы", "Квартиры", "Телефоны", "Животные", "Машины" };

}
<div id="main_header_small_preloader"></div>
<div id="main_header_small_id" class="main_header_small">
    <div class="main_header_small_link_home">
        @Html.ActionLink("Главная", "Categories", "Home", null, new { @class = "link_standart_for_div_white" })
    </div>
    <div class="main_header_small_link_Social">
        <div class="main_header_vk_follow_div">
            <a title="Vkontakte" class="main_header_vk_follow" href="https://vk.com/zsuzitor">VK</a>
        </div>
        <div class="main_header_inst_follow_div">
            <a title="instagram" class="main_header_inst_follow" href="https://instagram.com/zsuzitor/">Isnt</a>
        </div>
        <div class="main_header_gh_follow_div">
            <a title="github" class="main_header_gh_follow" href="https://github.com/zsuzitor/">GH</a>
        </div>


    </div>
    
    

    <div class="main_header_small_Extended_search_div">
        @Html.ActionLink("Расширенный поиск", "Extended_search", "Home", new {  }, new { @class = "link_standart_for_div_white" })
    </div>

</div>


<div id="main_header_up_id" class="main_header_up_div" onclick="return up()">
     <img src="~/Content/img/go_top.png" />
</div>


<div class="main_header_div_lvl_1">
    <div class="main_header_link_home">
        @Html.ActionLink("Главная", "Categories", "Home", null, new {@class= "link_standart_for_div" ,id="main_header_sr_text"})
    </div>
    <div class="main_header_link_add">
        @Html.ActionLink("Добавить", "Add_new_ad", "Home", null, new { @class = "link_standart_for_div", id = "main_header_sr_text" })
    </div>
    <div class="main_header_form_all">
        @using (Html.BeginForm("Search", "Home"))
        {
            <div class="main_header_inline_block_form">@Html.Editor("str",new {@class="main_header_str_search" })</div>
            
            <div class="main_header_inline_block_form">

                <div>
                    @Html.DropDownList("category", new SelectList(category), new { @class = "main_header_str_search" })

                </div>
                   
                </div>
            <div class="main_header_inline_block_form">
                <div>
                    @Html.DropDownList("town", new SelectList(town), new { @class = "main_header_str_search" })
                </div>
                    
            </div>
            <div class="main_header_inline_block_form"><input type="submit" value="Поиск" id="main_header_button_search"/>

                
        


       
        </div>

   }
        <div class="main_header_Extended_search_div">
            @Html.ActionLink("Расширенный поиск", "Extended_search", "Home", new { }, new { @class = "link_standart_for_div_white" })
        </div>
        <div class="main_header_link_Social">
            <div class="main_header_vk_follow_div">
                <a title="Vkontakte" class="main_header_vk_follow" href="https://vk.com/zsuzitor">VK</a>
            </div>
            <div class="main_header_inst_follow_div">
                <a title="instagram" class="main_header_inst_follow" href="https://instagram.com/zsuzitor/">Isnt</a>
            </div>
            <div class="main_header_gh_follow_div">
                <a title="github" class="main_header_gh_follow" href="https://github.com/zsuzitor/">GH</a>
            </div>


        </div>
    </div>
    <div>


    </div>
    <div>


    </div>
    </div>


