@model irr.Models.Real_estate_View

@{
    ViewBag.Title = "Real_estate";
}

<div>
    @Html.Action("Main_header", "Home")
    <div class="Real_estate_body_compl">
        <div class="Real_estate_body">
            <div class="Real_estate_block_up">

                @foreach (var i in Model.list)
            {
                    <div class="Real_estate_one_block_up">@Html.ActionLink(@i.Name, "list_ad", "Home", new { type = "all", type2 = i.Type2 }, new { })  </div>
                }
            </div>
            <div class="Real_estate_body2">
                @foreach (var i in Model.list)
            {
                    <div class="Real_estate_one_block">
                        <div class="Real_estate_img">
                            <img src="@i.img" >
                            
                        </div><div class="Real_estate_block_all">
                                  <p class="Real_estate_ref">@i.Name</p>
    <div class="Real_estate_block_s_e">
        
        @Html.ActionLink(i.Sale.Name, "list_ad", "Home", new { type2 = i.Type2, type = i.Sale.Type }, new { @class = "Real_estate_ref" })
        <ul>
            @foreach (var i2 in i.Sale.list)
            {
                <li> @Html.ActionLink(i2, "list_ad", "Home", new { Count_rooms = char.GetNumericValue(i2[0]) }, new { @class = "Real_estate_ref" })</li>

            }
        </ul>
    </div>
    <div class="Real_estate_block_s_e">

        @Html.ActionLink(i.Lease.Name, "list_ad", "Home", new { type2 = i.Type2, type = i.Lease.Type }, new { @class = "Real_estate_ref" })
        <ul>
            @foreach (var i2 in i.Lease.list)
            {
                <li>
                    @Html.ActionLink(i2, "list_ad", "Home", new { Count_rooms = char.GetNumericValue(i2[0]) }, new { @class = "Real_estate_ref" })
                </li>

            }
        </ul>
    </div>
</div>



                    </div>
                    
                    <div class="for_separation"></div>
                }
            </div>
        </div>

        </div>
    </div>

